---
import Layout from "../layouts/Layout.astro";
const siteUrl = import.meta.env.PUBLIC_URL;
---
<Layout title="プライバシーポリシー">
	<meta slot="description" name="description" content="郵送性病検査の決済が完了しました" />
	<link slot="canonical" rel="canonical" href={`${siteUrl}/privacy/`} />
    <main>
        <div class="l-headline">
            <h1 class="l-headline_ttl">プライバシーポリシー</h1>
        </div>
        <div class="l-section">
            <p class="c-txt">株式会社高精度検査会（以下「当社」といいます。）は、お客様による当社各種サービス（当社の提供するウェブサイト、各種検査（性病検査）等を含み、以下「対象サービス」といいます。）のご利用に際して、お客様の情報を取得および利用し、保管しています。</p>
            <p class="c-txt">当社が定めるこの個人情報保護方針（以下「本方針」といいます。）は個人情報に関するお客様の権利について理解を深めていただくためのものです。</p>
            <p class="c-txt">お客様からご提供いただきました個人情報を「個人情報の保護に関する法律」、「個人情報の保護に関する法律についてのガイドライン」に基づき、個人情報の取り扱いについて、以下のとおり実施いたします。</p>
        </div>
        <section class="l-section">
            <h2 class="c-ttl">1. はじめに</h2>
            <p class="c-txt">本方針は対象サービスをお客様がご利用になる場合に適用されます。<br><br>
                なお、当社は、サービスの内容等に応じて、本方針に付加して、または本方針とは別に、個人情報の取扱いに関して定める場合があり、この場合、当該定めが適用されますので、ご留意ください。<br><br>
                対象サービスの販売利用規約と共に、本方針をよくお読みいただき、同意いただいた上で、対象サービスをご利用ください。お客様が対象サービスのご利用を開始した場合、私たちは、お客様の個人情報の取得、利用、提供および保管について説明した本方針の内容をお客様がご理解いただいたものとみなします。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">2. 収集する個人情報及び収集方法</h2>
            <p class="c-txt">本方針において、「個人情報」とは、識別に係る情報、通信サービス上の行動履歴、その他利用者または利用者の端末に関連して生成または蓄積された情報を含み、本方針に基づき当社が収集するものを意味するものとします。<br><br>
                対象サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
            <h3 class="c-ttl -h3">2-1. お客様からご提供いただく情報</h3>
            <p class="c-txt">お客様が本サービスを利用するために、お客様から以下の情報をご提供いただく場合がございます。<br>
                これには以下の情報が含まれます。</p>
            <ol class="c-list">
                <li class="c-list_item">氏名</li>
                <li class="c-list_item">住所</li>
                <li class="c-list_item">メールアドレス</li>
                <li class="c-list_item">電話番号</li>
                <li class="c-list_item">性別</li>
                <li class="c-list_item">生年月日</li>
                <li class="c-list_item">クレジットカード情報を含む支払情報</li>
                <li class="c-list_item">購入履歴</li>
                <li class="c-list_item">苦情、相談または問合せ情報（電話の会話録音情報も含む）</li>
                <li class="c-list_item">その他当社が定める入力フォームに利用者が入力する情報</li>
            </ol>
            <h3 class="c-ttl -h3">2-2. お客様が本サービスを利用するにあたって、当社が収集する情報</h3>
            <p class="c-txt">当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。<br>
                これには以下の情報が含まれます。</p>
            <ul class="c-list">
                <li class="c-list_item">リファラ</li>
                <li class="c-list_item">IPアドレス</li>
                <li class="c-list_item">サーバーアクセスログに関する情報</li>
                <li class="c-list_item">Cookie、ADID、IDFAその他の識別子</li>
            </ul>
            <h3 class="c-ttl -h3">2-3. 利用者が本サイトを利用するにあたって、当社が使用するテクノロジー</h3>
            <ul class="c-list">
                <li class="c-list_item">Cookie（クッキー）</li>
                <li class="c-list_item">第三者の配信する行動ターゲティング広告</li>
                <li class="c-list_item">ウェブビーコン</li>
            </ul>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">3. 利用目的</h2>
            <p class="c-txt">本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。</p>
            <ol class="c-list">
                <li class="c-list_item">本サービスに関する登録の受付、本人確認、利用者認証、維持、保護及び改善のためのため</li>
                <li class="c-list_item">本サービスの運営・各種問合せ・サポート対応のため</li>
                <li class="c-list_item">料金計算・請求・決済・与信管理のため（請求代行・決済代行業者への提供を含みます。）</li>
                <li class="c-list_item">お客様と当社間に生じた問題・紛争の解決のため</li>
                <li class="c-list_item">お客様のトラフィック測定及び行動測定並びに広告の配信、表示及び効果測定のため（業務委託先に提供することがあります。）</li>
                <li class="c-list_item">本サービスの改善や新サービス開発のため</li>
                <li class="c-list_item">本サービスに関するご案内、お問い合わせ等への対応のため</li>
                <li class="c-list_item">本サービスに関する当社の規約に違反する行為に対する対応のため</li>
                <li class="c-list_item">本サービスに関する規約等の変更などを通知するため</li>
                <li class="c-list_item">その他上記各利用目的に付随する目的のため</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">4. 個人情報の開示</h2>
            <p class="c-txt">（個人情報の開示）<br>
                当社は、お客様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、お客様ご本人からのご請求であることを確認の上で、お客様に対し、お客様ご指定の方法で遅滞なく開示を行います（当該個人情報が存在しない時はその旨を通知いたします。）。ただし、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（１件あたり300円）を頂戴しておりますので、あらかじめご了承ください。<br><br>
                （個人データの訂正及び利用停止等）<br>
                1 当社は、お客様から、個人データの内容が事実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、他の法令の規定により特別の手続が定められている場合を除き、お客様かご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人データの内容の訂正等を行い、その旨をお客様に通知します。<br>
                2 当社は、お客様から、個人情報が、予め公表された利用目的の範囲を超えて取り扱われているという理由、又は不正の手段により取得されたものであるという理由により、その利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人データの利用停止等を行い、その旨ご本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ご本人の権利利益を保護するために必要なこれに代わるべき措置をとる場合は、この限りではありません。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">5. 法令等の遵守について</h2>
            <p class="c-txt">個人情報を取り扱う上で、個人情報保護法をはじめとする関連ガイドライン等の国が定める指針、条例、その他の規範を確認し、遵守します。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">6. 個人情報保護のための安全対策の実施について</h2>
            <p class="c-txt">個人情報を安全且つ適切に取り扱うことを確実にするため、管理体制を整備し、従業者一人ひとりへの教育を通じて、個人情報の滅失、破壊、改ざん、毀損、漏洩等の予防に努めます。また、日々の確認、内部監査等を通じて、不備があった際には早期に検出するとともに、原因を精査し、是正措置を講じて再発防止に努めます。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">7. Cookie（クッキー）に関するポリシー</h2>
            <h3 class="c-ttl -h3">7-1. Cookieについて</h3>
            <p class="c-txt">Cookieとは、ウェブページを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、お客様のコンピュータ（PCやスマートフォン）にファイルとして保存しておく仕組みです。<br>
                次回、同じページにアクセスすると、Cookieの情報を使って、ページの運営者はお客様ごとに表示を変えたりすることができます。お客様がブラウザの設定でCookieの送受信を許可している場合、ウェブサイトは、ユーザーのブラウザからCookieを取得できます。
                なお、お客様のブラウザは、プライバシー保護のため、そのウェブサイトのサーバーが送受信したCookieのみを送信します。</p>
            <h3 class="c-ttl -h3">7-2. Cookieの設定について</h3>
            <p class="c-txt">お客様は、クッキーの送受信に関する設定を「すべてのCookieを許可する」、「すべてのCookieを拒否する」、「Cookieを受信したらユーザーに通知する」などから選択できます。<br>
                設定方法は、ブラウザにより異なります。<br>
                Cookieに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。<br>
                すべてのCookieを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</p>
            <h3 class="c-ttl -h3">7-3. 当社がCookieを使用して行っていること</h3>
            <p class="c-txt">以下の目的のため、当社はCookieを利用しています。</p>
            <h4 class="c-ttl -h4">7-3-1. パフォーマンスCookie</h4>
            <p class="c-txt">当社が運営するウェブサイトをお客様がどのように利用しているか、データを収集するために使用しています。すべての情報は統計化され、統計情報は訪問者数や訪問者が当ウェブサイト内をどのように移動するかを把握、分析することにより当ウェブサイトの利便性向上に役立てます。
                これらの把握、分析のため、Google社の提供するサービスである、Google Analyticsを使用しています。 Google Analyticsは独自のCookie（サードパーティーCookie）を使用いたします。このトラフィックデータは、webコンテンツへのアクセスに関する情報であり、匿名で収集されています。お名前・メールアドレス・住所・電話番号は含まれません。
                なおGoogle Analytics Cookieの詳細については下記をご確認ください。<br><br>
                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=ja" target="_blank" rel="nofollow">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=ja</a><br><br>
                また、Google Analyticsによる分析等を拒否する場合、下記URLから「Google アナリティクス オプトアウト アドオン」をダウンロードして、ご利用のブラウザにインストールしてください。<br><br>
                <a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank" rel="nofollow">https://tools.google.com/dlpage/gaoptout?hl=ja</a>
            </p>
            <h4 class="c-ttl -h4">7-3-2. マーケティング Cookie</h4>
            <p class="c-txt">当社ではGoogleなどの広告配信事業者の広告サービスを、利用状況や関心に合わせてカスタマイズする目的で、独自のCookieおよび第三者プロバイダによるCookieを使用しています（オンライン行動ターゲティング広告の配信）。これらのターゲット広告用の情報の取得および使用を拒否(オプトアウト)することもできます。<br>
                また、お使いのブラウザ設定からCookieを無効にすることが可能ですが、Cookieを拒否する設定をされた場合、一部のサービスが受けられない場合があることをご了承ください。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">8. プライバシーポリシーの見直し</h2>
            <p class="c-txt">本プライバシーポリシーの内容は継続的に見直し、予告無しに変更することがありますので定期的な閲覧をお願い申し上げます。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">9. 個人情報保護に関するお問い合わせ</h2>
            <p class="c-txt">本方針、また当社が取り扱う個人情報についてのお問い合わせは下記にて承ります。<br><br>
                個人情報お問い合わせ担当窓口<br>
                メールアドレス：info@kouseido-kensakai.jp</p>
        </section>
    </main>
</Layout>
