---
import Layout from "../layouts/Layout.astro";
const siteUrl = import.meta.env.PUBLIC_URL;
---
<Layout title="販売利用規約">
	<meta slot="description" name="description" content="郵送性病検査の決済が完了しました" />
	<link slot="canonical" rel="canonical" href={`${siteUrl}/terms/`} />
    <main>
        <div class="l-headline">
            <h1 class="l-headline_ttl">販売利用規約</h1>
        </div>
        <section class="l-section">
            <h2 class="c-ttl">第１条（本規約の適用）</h2>
            <ol class="c-list">
                <li class="c-list_item">この利用規約（以下「本規約」といいます。）は株式会社高精度検査会（以下「当社」といいます。）がウェブサイト上で提供する性病検査キットの販売（以下「本サービス」といいます。）で、お客様が商品の購入等の取引を行うにあたっての諸条件を定めたものです。</li>
                <li class="c-list_item">当社は、お客様による本サービスの利用に関して、本規約のほか、各サービスの利用に関する特約、その他本規約の下位規約、ガイドライン等を定めることがあります。本規約の下位規約、ガイドライン等は本規約の一部としてお客様による本サービスの利用に適用され、それらを総称して以下「本規約等」といいます。</li>
                <li class="c-list_item">お客様が本サービスを利用された場合、お客様が本規約等に同意したものとみなします。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第２条（付帯サービスの追加・変更等）</h2>
            <p class="c-txt">当社は、事前にお客様に通知することなく、本サービスに付帯するサービス（以下「付帯サービス」といいます。）を適宜追加し、または当該サービスの内容を変更することがあります。 お客様が当該サービスを利用する場合、追加、変更後の当該サービスに適用される規約、ガイドライン等に従うものとします。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第３条（禁止事項）</h2>
            <ol class="c-list">
                <li class="c-list_item">
                    <p class="c-txt">お客様は、本サービスの利用において以下の各号に定める行為をしてはならないものとします。</p>
                    <ol class="c-list">
                        <li class="c-list_item">法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置への違反</li>
                        <li class="c-list_item">公の秩序または善良の良俗を害すること</li>
                        <li class="c-list_item">反社会的勢力に対する利益供与その他の協力をすること</li>
                        <li class="c-list_item">犯罪による収益の移転行為及びこれを助長、幇助等すること</li>
                        <li class="c-list_item">第三者へのなりすましまたは意図的に虚偽の情報を送信すること</li>
                        <li class="c-list_item">購入する意図なく商品の購入を申し込むこと</li>
                        <li class="c-list_item">当社の事前の許可を得ることなく、自動化された手段（自動購入ツール・ロボットなどこれらに準ずる手段）を用いて商品を購入すること（商品ページ上の情報取得等を含む）</li>
                        <li class="c-list_item">正当な理由なく返品等をすること</li>
                        <li class="c-list_item">自己取引、関係者内での内部取引、架空取引</li>
                        <li class="c-list_item">不正アクセス行為、またはこれを助長する行為</li>
                        <li class="c-list_item">本サービスの誤作動を誘引すること</li>
                        <li class="c-list_item">本サービスが通常意図しないバグを利用する動作を生じさせ、または、通常意図しない効果を及ぼす外部ツールの利用、作成、または頒布</li>
                        <li class="c-list_item">当社、当社が運営する店舗、他のお客様のサーバー、コンピュータ等に過度の負担をかけること</li>
                        <li class="c-list_item">当社、当社が運営する店舗、他のお客様、その他第三者にコンピュータウイルス等の有害なプログラムを送信し、または流布すること</li>
                        <li class="c-list_item">本サービスの運営を妨げること</li>
                        <li class="c-list_item">不正な目的をもって、本サービスを利用すること</li>
                        <li class="c-list_item">本規約に違反し、または、本サービスの趣旨目的に反すること</li>
                        <li class="c-list_item">当社が定める規約、ガイドライン等に違反すること</li>
                        <li class="c-list_item">その他当社が不適切と判断すること</li>
                    </ol>
                </li>
                <li class="c-list_item">
                    <p class="c-txt">お客様が前項の定めに違反した場合、または当社に対する債務を履行しない場合、それらに該当すると疑われる場合、当社は、期間の定めによらず、お客様に事前に通知することなく、以下の各号に定める措置の一部または全部を講じることができます。</p>
                    <ol class="c-list">
                        <li class="c-list_item">お客様による本サービスの利用を停止し、本サービスの販売停止もしくは取消しをすること</li>
                        <li class="c-list_item">お客様に対し、注文時に選択した支払方法と異なる方法で代金をお支払いいただくよう要請すること</li>
                        <li class="c-list_item">お客様に対し、不当に得た利益を返還いただくこと</li>
                    </ol>
                </li>
                <li class="c-list_item">前項の措置を講じたことによってお客様に生じた損害については、当社は一切責任を負いません。</li>
                <li class="c-list_item">お客様が第１項に違反したことによって、当社に損失ないし損害が生じた場合、お客様は、当社に対し、違反したことによりお客様が得た利益を返還し、当社に生じた損害を、直ちに賠償しなければなりません。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第４条（個人情報の取扱い）</h2>
            <p class="c-txt">当社は、お客様による本サービスの利用によって取得する個人情報を、当社のプライバシーポリシーに従い、適切に取扱います。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第５条（譲渡禁止）</h2>
            <p class="c-txt">お客様は、本サービスの利用にかかる権利義務を第三者に譲渡、貸与してはなりません。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第６条（免責）</h2>
            <ol class="c-list">
                <li class="c-list_item">天災地変、戦争、テロ、暴動、法令・規則の制定改廃、政府機関の介入または命令、伝染病、停電、通信回線やコンピュータ等の障害・システムメンテナンス等による中断・遅滞・中止・データの消失、データの不正アクセス、輸送機関の事故、労働争議、設備の事故等の不可抗力等により、本サービスの一部または全部が停止する場合にお客様に生じた損害について一切責任を負いません。</li>
                <li class="c-list_item">本規約における当社の責任は合理的な努力をもって本サービスを運営することに限られるものとし、当社は本サービスの正確性、最新性、有用性、信頼性、適法性、特定目的への適合性、第三者の権利を侵害していないことを含め一切責任を負わず、またいかなる保証もなされません。</li>
                <li class="c-list_item">当社は、当社のウェブページ・サーバ・ドメインなどから送られるメール・コンテンツに、コンピュータウイルスなどの有害なものが含まれていないことを保証しません。</li>
                <li class="c-list_item">当社は、提携医療機関に対し、情報提供等を行うことがありますが、当該情報を利用される行為について、責任を負うものではありません。</li>
                <li class="c-list_item">お客様が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。</li>
                <li class="c-list_item">お客様が本サービスを利用するに当たり、お客様が使用されるネットワーク、コンピュータ、ソフトウェア等のお客様側の利用環境はお客様ご自身の負担で用意、整備していただく必要があります。当社は、お客様の利用環境の整備等、及びお客様の利用環境等によって生じた損害等について、責任を負いません。</li>
                <li class="c-list_item">当社は、お客様による本サービスの利用に関連して、お客様に対する責任を負う場合には、当社の故意または重大な過失による場合を除き、お客様に現実に生じた通常かつ直接の範囲の損害に限り、これを賠償します。なお、特別な事情から生じた損害（損害の発生を予見し、または、予見し得た場合を含みます。）については、責任を負わないものとします。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第７条（決済）</h2>
            <ol class="c-list">
                <li class="c-list_item">クレジットカードの利用については、お客様と各クレジットカード会社等との間で別途契約する条件に従って下さい。</li>
                <li class="c-list_item">お客様が注文時にクレジットカード決済の分割払い、リボルビング払いまたはボーナス払いを選択した場合、かかる取引に関する割賦販売法３０条２の３第４項に基づく書面は、電子的方法によって交付されることがあり、お客様はこれに予め同意することとします。</li>
                <li class="c-list_item">お客様は、決済代行会社が商品代金の決済を代行すること、及びかかる決済のために必要な情報を当社が決済代行会社に開示・提供することを了承するものとします。</li>
                <li class="c-list_item">当社は、商品代金の決済において、Stripe（ストライプジャパン株式会社）（以下「決済代行会社」といいます。）の決済代行サービスを利用します。当社は、購入者のクレジットカード情報（クレジットカード番号、有効期限、セキュリティコード等）を決済代行会社に開示・提供します。当社は、お客様による本サービスの利用によって取得する個人情報を、当社のプライバシーポリシーに従い、購入者から受領したクレジットカード情報を適切に取り扱います。</li>
                <li class="c-list_item">お客様が商品代金の決済に登録したクレジットカード情報は決済代行会社において保持されます。当社は、これらの情報を保持しません。</li>
                <li class="c-list_item">クレジットカードの利用に関連して、お客様とクレジットカード会社等との間で何らかの紛争が発生した場合は、お客様とクレジットカード会社等との間で責任をもって解決するものとします。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第８条（キャンセル・返金）</h2>
            <p class="c-txt">お客様都合によるご注文の返品、交換、キャンセルは一切お受けできません。</p>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第９条（停止・終了）</h2>
            <p class="c-txt">当社は、お客様に事前に通知することなく、いつでも特定のお客様または全てのお客様に対して、本サービスまたは本サービスに付帯サービスの提供を停止・終了することができるものとします。当社は、本サービスの停止・終了によってお客様に生じた損害または不利益に対して一切責任を負いません。</p>
            <ol class="c-list">
                <li class="c-list_item">利用者による本利用規約に違反する行為又は本サービスに関連して利用者の責めに帰すべき事由により当社又は第三者に損害が生じたときは、利用者はその一切の損害につき賠償する義務を負うものとします。</li>
                <li class="c-list_item">当社は、本サービス又は本利用規約に関連して利用者に生じた損害につき、当社の故意又は重過失に基づく場合を除き、一切の責任を負いません。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第10条（準拠法・管轄裁判所）</h2>
            <ol class="c-list">
                <li class="c-list_item">本規約は日本法に基づき解釈されるものとします。</li>
                <li class="c-list_item">本規約に関連して生じた一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
            </ol>
        </section>
        <section class="l-section">
            <h2 class="c-ttl">第11条（本規約の改定）</h2>
            <p class="c-txt">当社は、お客様に事前に通知することなく、いつでも本規約等を改定することができるものとし、当社が改定後の本規約を当社所定のウェブサイトへ掲載したとき（当社が改定後の本規約の発効日を別途設定した場合はその日）に効力を生じます。その後にお客様が本サービスを利用した場合、お客様が改定後の本規約に同意したものとみなします。</p>
            <p class="c-txt">制定日：2023年7月24日</p>
        </section>
    </main>
</Layout>
