---
import Layout from "../layouts/Layout.astro";
const siteUrl = import.meta.env.PUBLIC_URL;
---
<Layout title="特定商取引法">
	<meta slot="description" name="description" content="郵送性病検査の決済が完了しました" />
	<link slot="canonical" rel="canonical" href={`${siteUrl}/tokusho/`} />
    <main>
        <div class="l-headline">
            <h1 class="l-headline_ttl">特定商取引法</h1>
        </div>
        <section class="l-section">
            <table class="c-table">
                <tbody>
                    <tr>
                        <th>販売業者</th>
                        <td>高精度検査会</td>
                    </tr>
                    <tr>
                        <th>代表責任者</th>
                        <td>坂本　壮駿</td>
                    </tr>
                    <tr>
                        <th>所在地</th>
                        <td>〒160-0022<br>
                            東京都新宿区新宿六丁目28-7新宿 EAST COURT2F</td>
                    </tr>
                    <tr>
                        <th>営業時間</th>
                        <td>10:00~19:00</td>
                    </tr>
                    <tr>
                        <th>定休日</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>03-6273-8653</td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>info@kouseido-kensakai.jp</td>
                    </tr>
                    <tr>
                        <th>サイトURL</th>
                        <td>https://kouseido-kensakai.jp/</td>
                    </tr>
                    <tr>
                        <th>販売価格</th>
                        <td>サービスごとに記載</td>
                    </tr>
                    <tr>
                        <th>引き渡し時期</th>
                        <td>ご注文から7日以内に発送いたします。</td>
                    </tr>
                    <tr>
                        <th>商品代金以外<br>の必要料金</th>
                        <td>基本的な送料は発生いたしません。<br>
                            検査キットを返送いただく際に「速達」にする場合は、260円切手をご自身で追加で購入して貼っていただきます。</td>
                    </tr>
                    <tr>
                        <th>お支払方法と<br>お支払いの時期</th>
                        <td>各種クレジットカード<br>    支払時期：ご利用のカード会社ごとに異なります。<br> 
                            『カード決済』は、Stripe（ストライプジャパン株式会社） の決済代行サービス を利用しております。<br>
                            ご注文後、Stripeの決済画面へ移動いたしますので決済を完了させてください。<br>
                            安心してお支払いをしていただくために、お客様の情報がイプシロンサイト経由で送信される際にはSSL(128bit)による暗号化通信で行い、クレジットカード情報は当サイトでは保有せず、同社で厳重に管理しております。</td>
                    </tr>
                    <tr>
                        <th>返品・交換・<br>キャンセル<br class="pc-none">について</th>
                        <td>・商品購入後のお客様都合による商品の返品、交換、キャンセルは一切お受けできません。 予めご了承ください。<br>
                            ・万一「ご注文された商品と異なる商品」、または「商品が破損していた」場合は商品到着後7日以内に下記項目と共にメールにて商品のお写真をお送りください。弊社にてお写真を確認後対応についてご連絡いたします。
                            <ol class="c-list">
                                <li class="c-list_item">ご注文番号(受注番号)</li>
                                <li class="c-list_item">ご注文者様のお名前</li>
                                <li class="c-list_item">ご登録のお電話番号</li>
                                <li class="c-list_item">該当商品</li>
                                <li class="c-list_item">商品状態</li>
                                <li class="c-list_item">返品理由</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <th>動作環境</th>
                        <td>アプリケーションによって利用環境・対応機種が異なります。各アプリケーションのダウンロードの前に、必ず各アプリケーションの詳細ページで利用環境・対応機種をご確認ください。</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</Layout>
