---
---
<section id="supervisor" class="p-lp_supervisor">
    <div class="c-lp_head -lv3">
        <h3>性感染症専門医が監修</h3>
    </div>

    <h4 class="c-lp_min_ttl">
        <span class="c-lp_min_ttl_middle">前出 喜信(まえで よしのぶ)医師</span>
    </h4>

    <div class="p-lp_supervisor_dr">
        <div class="p-lp_supervisor_dr_visual">
            <figure>
                <img src="/img/lp/p-lp_md.png" alt="前出 喜信(まえで よしのぶ)医師">
                <figcaption>シュシュレディースクリニック戸田公園院長</figcaption>
            </figure>
        </div>
        <p class="p-lp_supervisor_dr_features">
            新宿駅前婦人科クリニック顧問医師（性感染症専門医・産婦人科専門医）<br><br>
            島根医科大学医学部医学科を卒業後、長年産婦人科医としてクリニックや病院勤務で経験を重ね、2022年10月天神マイケアクリニック顧問医師に就任。
        </p>
        <div class="p-lp_supervisor_dr_about">
            <div class="p-lp_supervisor_dr_about_visual">
                <img src="/img/lp/p-lp_mdbook.png" alt="前出 喜信(まえで よしのぶ)医師の著書 マイコプラズマ・ウレアプラズマ性感染症 ～よく知られていないから、知ってほしい性感染症～">
            </div>
            <div class="p-lp_supervisor_dr_about_description">
                <h4 class="p-lp_supervisor_dr_about_description_ttl">
                    <span>著書</span>
                </h4>
                <p class="p-lp_supervisor_dr_about_description_txt">
                    マイコプラズマ・ウレアプラズマ性感染症 ～よく知られていないから、知ってほしい性感染症～<br><br>
                    前出 喜信(まえで よしのぶ)医師　出版
                </p>
            </div>
        </div>
    </div>
</section>


<style lang="scss">
.p-lp_supervisor {
    padding: 32px 20px 80px;
    background: white;
    text-align: justify;
    &_dr {
        &_visual {
            margin: 24px 0 0;
            img {
                width: 100%;
            }
            figcaption {
                margin: 12px 0 0;
                text-align: center;
                letter-spacing: .05em;
                font-size: clamp(12px, 4vw, 18px);
                font-weight: 500;
                color: var(--color-04);
            }
        }
        &_features {
            margin: 1em 0 0;
            font-size: clamp(16px, 4vw, 24px);
            font-weight: 500;
            line-height: 1.5;
        }
        &_about {
            margin: 64px 0 0;
            padding: 0 12px;
            gap: clamp(10px, 7.7vw, 32px);
            display: flex;
            &_visual {
                width: 40%;
                flex-shrink: 0;
                img {
                    width: 100%;
                }
            }
            &_description {
                &_ttl {
                    padding: 0 0 .25em;
                    border-bottom: 2px solid var(--color-04);
                    display: block;
                    font-size: clamp(18px, 5.6vw, 28px);
                    font-weight: 800;
                    color: var(--color-04);
                }
                &_txt {
                    margin: 12px 0 0;
                    font-size: clamp(12px, 3.8vw, 20px);
                    line-height: 1.5;
                }
            }
        }
    }
}
</style>
