---
---
<section id="telemedicine" class="p-lp_telemedicine">
    <div class="l-cont">
        <h2 class="c-head">
            <div class="c-head_inner">
                <div class="c-head_ttl -add_particle -orange">
                    <span class="-box">治療薬</span>をお求めの方は<br>
                    <span class="-alert">オンライン診療</span>で処方可能
                </div>
            </div>
        </h2>
        <div class="c-img_full">
            <a href="https://lin.ee/m2tNW8d" target="_new" rel="nofollow">
                <img src="/img/lp/p-lp_online_bnr.png" alt="治療薬をお求めの方はオンライン診療をご利用ください LINE登録はコチラ" width="700" height="397" />
            </a>
        </div>

        <div class="p-lp_telemedicine_txt">
            <p class="c-txt">メディカルポストでオンライン診療を受けると<span class="c-accent">治療薬の郵送が可能</span>です。</p>
            <p class="c-txt">治療薬をご希望の方は<span class="c-accent">LINE友だち登録</span>を行ってください。</p>
            <ul class="c-att">
                <li>※淋菌（のど）・HIV・梅毒の治療は対象外です</li>
                <li>※治療薬のみをお求めの方は診察料1,650円頂戴いたします</li>
            </ul>
        </div>

    </div>
</section>

<style lang="scss">
.p-lp_telemedicine {
    padding: 0 0 40px;
    background: #f7f3f0;
    .c-head {
        margin: 1vw 0;
    }

    &_txt {
        margin: 1em 0 0;
        .c-txt {
            font-size: 1rem;
            text-align: justify;
        }
    }

    .c-txt {
        font-size: 1.125rem;
    }
}
</style>
